*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  position: relative;
}

ul .search-img img {
  position: absolute;
  height: 15px;
  width: auto;
  margin-top: 7px;
  padding-left: 5px;
}

ul .placeholder-txt {
  padding: 0 0 0 30px;
}

.nav-link .ellipse2 {
  height: 35px;
}

.ellipse3-img img {
  height: 100px;
}

.form-control input {
  width: 40%;
}

